<header>
  <section>
    <ul>
      <li><a href="/students">Students</a></li>
      <li><a href="/companies">Companies</a></li>
      <li><a href="/interviews">Interviews</a></li>
    </ul>
  </section>
  <% if(locals.user) { %>
  <!--  -->
  <ul>
    <li><%=locals.user.name %></li>
    <li><a href="/users/sign-out"> Sign Out </a></li>
  </ul>

  <!--  -->
  <% } else { %>
  <ul>
    <li><a href="/users/sign-in"> Sign In </a></li>
    <li><a href="/users/sign-up"> Sign Up </a></li>
  </ul>

  <% } %>
</header>
