<section>
  <h1>Add Interview:</h1>
  <form method="POST" action="/interviews/create">
    <label for="student">Student:</label>
    <input type="text" name="student" placeholder="Student" required />
    <br />
    <label for="company">Company:</label>
    <input type="text" name="company" placeholder="Company" required /><br />
    <label for="date">Date:</label>
    <input type="date" name="date" placeholder="Date" required /><br />

    <input type="submit" value="Add" />
  </form>
</section>

<section>
  <h1>List Of Interviews:</h1>
  <ul>
    <% for(interview of interviews) { %>
    <p>
      <li>
        Name: <%= interview.student.name %> <br />
        Company: <%= interview.company.name %> <br />
        Date: <%= interview.date %><br />
      </li>
    </p>
    <% } %>
  </ul>
</section>
