<h1>Sign In</h1>
<form action="/users/create-session" method="POST">
  <bold>Email:</bold>
  <input type="email" name="email" placeholder="Your Email" required />
  <br />
  <bold>Password:</bold>
  <input type="password" name="password" placeholder="Your Password" required />
  <br />
  <input type="submit" value="Submit" />
</form>
